---
import Form from "../components/Form.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Frontend Mentor | Newsletter sign-up form with success message">
  <main>
    <Form client:only="svelte" />
  </main>
</Layout>

<style>
  main {
    min-height: 100svh;
  }

  @media (width > 880px) {
    main {
      padding-block: 2.5rem;
      display: grid;
      place-content: center;
    }
  }
</style>
